:host {
    display: block;
    width: 100%;
}

#form-ui {
    width: 100%;
    min-height: 80vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    padding-top: 200px; 
    padding-bottom: 100px;
    
    background-color: #000;
    position: relative;
    z-index: 1;
    background-image: radial-gradient(circle at center, #110022 0%, #000 80%);
}

/* Estrellas de fondo */
#form-ui::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: 
        radial-gradient(1px 1px at 20% 30%, #fff, transparent),
        radial-gradient(1.5px 1.5px at 80% 70%, #fff, transparent);
    background-size: 200px 200px;
    opacity: 0.3;
    z-index: -1;
}

/* LA TARJETA (El cuadro del login) */
#form {
    width: 90%;
    max-width: 400px;
    padding: 40px;
    background: rgba(15, 15, 15, 0.95);
    backdrop-filter: blur(20px);
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 40px rgba(0, 0, 0, 1); /* Sombra intensa para que resalte */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#welcome-line-1 {
    background: linear-gradient(90deg, #fff, #4cc9f0, #7209b7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 42px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 5px;
}

#welcome-line-2 {
    color: #ffffff;
    font-size: 18px;
    opacity: 0.7;
    margin-bottom: 30px;
}

.form-inp {
    width: 100%;
    margin-bottom: 15px;
}

.form-inp input {
    width: 100%;
    padding: 15px;
    background: #1a1a1a;
    border: 1px solid #333;
    border-radius: 10px;
    color: white;
    font-size: 14px;
}

#submit-button {
    width: 100%;
    padding: 15px;
    background: linear-gradient(135deg, #4cc9f0, #7209b7);
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}


/* Estilo para el contenedor del botón de cerrar sesión */
#forgot-pass button {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #888;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%; /* Para que ocupe el mismo ancho que los inputs */
    margin-top: 10px;
}

#forgot-pass button:hover {
    background: rgba(220, 38, 38, 0.1); /* Un rojo sutil al pasar el mouse */
    color: #ff4d4d;
    border-color: rgba(220, 38, 38, 0.4);
    box-shadow: 0 0 15px rgba(220, 38, 38, 0.2);
}