.footer {
    background-color: #000;
    color: #fff;
    padding: 50px 20px 20px 20px;
    font-family: sans-serif;
    border-top: 1px solid #282828;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    min-width: 150px;
}

.footer-logo {
    font-size: 22px;
    color: #1DB954;
    /* Verde Spotify */
    margin-bottom: 15px;
}

.footer-section h4 {
    color: #b3b3b3;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #b3b3b3;
    font-size: 14px;
    transition: color 0.2s;
}

.footer-section ul li a:hover {
    color: #fff;
}

.socials {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}

.social-icon {
    background-color: #292929;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    transition: background-color 0.2s;
}

.social-icon:hover {
    background-color: #535353;
}

/* Parte Inferior */
.footer-bottom {
    max-width: 1200px;
    margin: 40px auto 0 auto;
}

hr {
    border: 0;
    border-top: 1px solid #282828;
    margin-bottom: 20px;
}

.legal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: #b3b3b3;
    flex-wrap: wrap;
    gap: 10px;
}

.legal-links a {
    color: #b3b3b3;
    text-decoration: none;
    margin-left: 15px;
}

.legal-links a:hover {
    color: #fff;
}